* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include font-size(16);
  font-family: $font-primary;
  background: $grey;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  @include breakpoint(medium-tablet-max) {
    max-width: 1200px;
  }
}

button{
border: none;
}

a {
  text-decoration: none;
  transition: all 0.4s;
}

img {
  max-width: 100%;
}
